body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.options{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 50px;
}
#top{
    margin-right: 50px;

}

.img img{
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-align: center;
}

.converter {
    text-align: center;
}
#convert{
    margin: 20px;
    border-radius: 9px;
    background-color: rgb(141, 248, 41);
    cursor: pointer;
    font-size: 18px;
}

label, input, select, button {
    margin: 5px;
}

.result {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
#swap{
    margin-top: -74px;
    cursor: pointer;
}